<nav class="side-navigation navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="nav-label nav-logo">
                    Northwind
                </div>
                <div class="logo-element">
                    N-W
                </div>

            </li>
            <li ng-class="{active: $state.includes('order')}">
                <a><i class="fa fa-tags"></i> <span class="nav-label">Orders</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level"><!--ng-class="{in: $state.includes('students')}"-->
                    <li ui-sref-active="active"><a ui-sref="orderList">Order List</a></li>
                    <li ui-sref-active="active"><a ui-sref="orderEdit">Manage Order</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('productList')}">
                <a><i class="fa fa-newspaper-o"></i>
                    <span class="nav-label">Data Management</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="employeeList">Employees</a></li>
                    <li ui-sref-active="active"><a ui-sref="customerList">Customers</a></li>
                    <li ui-sref-active="active"><a ui-sref="shipperList">Shippers</a></li>
                    <li ui-sref-active="active"><a ui-sref="supplierList">Suppliers</a></li>
                    <li ui-sref-active="active"><a ui-sref="territoryList">Territories</a></li>
                    <li ui-sref-active="active"><a ui-sref="categoryList">Categories</a></li>
                    <li ui-sref-active="active"><a ui-sref="productList">Products</a></li>

                </ul>
            </li>
            <li ng-class="{active: $state.includes('reports')}">
                <a>
                    <i class="fa fa-line-chart"></i>
                    <span class="nav-label">Reports </span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('reports')}">
                    <li ui-sref-active="active"><a ui-sref="orderReport">Order Report</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('settings')}">
                <a>
                    <i class="glyphicon glyphicon-cog"></i>
                    <span class="nav-label">App Settings</span>
                    <span class="pull-right label label-primary">Admin</span>
                </a>
                <ul class="nav nav-second-level">
                    <li ui-sref-active="active"><a ui-sref="admin.user">Accounts</a></li>
                </ul>

            </li>
            <!-- <li class="landing_link">
                 <a ui-sref="login"><i class="fa fa-sign-out"></i> <span class="nav-label">Log Out</span>
                 </a>
             </li>-->
        </ul>

    </div>
</nav>
