<div class="top-nav ">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-1 col-xs-offset-10 col-sm-offset-0 clearfix">
            <span minimize-sidebar></span>
            <div class="pull-right">
                <div class="pull-left">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-8 clearfix" style="padding-top: 5px;font-size: 15px;">
            <div class="pull-right">
                <button class="btn btn-sm btn-default btn-hover-border" style="">
                    <i class="fa fa-sign-out"></i> Log out
                </button>
                <!--<a class="link" href="app/views/common/Login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>-->
            </div>

        </div>
    </div>
</div>