
<div class="top-nav " >
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-1 clearfix">
            <div class="pull-right">
                <span minimize-sidebar></span>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-8 clearfix" style="padding-top: 5px;font-size: 15px;">
            <div class="pull-right">
                <a class="link" href="app/views/common/Login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </div>

        </div>
    </div>
</div>