<div class="top-nav " ng-controller="topNavCtrl">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-1 col-xs-offset-10 col-sm-offset-0 clearfix">
            <span minimize-sidebar></span>

            <div class="pull-right">
                <div class="pull-left">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-5 clearfix" style="padding-top: 5px;font-size: 15px;">
            <div class="pull-right">
                <button class="btn btn-sm btn-default btn-hover-border" ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </button>
            </div>
            <div class="pull-right" style="margin-top: 5px;margin-right: 10px;">Welcome {{username}}</div>
        </div>
    </div>
</div>