<form name="productTagsForm" class="form-horizontal">
  <filedset>
    <legend>Product Search Tags</legend>
    <div class="form-group">
      <label for="searchTags" class="col-xs-3 control-label">Search Tags</label>
      <div class="col-xs-7">
        <input id="searchTags" type="text" placeholder="Product search keywords"
          ng-model="newTags" class="form-control">
      </div>
      <div class="col-xs-1">
          <button class="btn btn-default" title="Add tags" type="button"
            ng-click="addTags(newTags)">Add
          </button>
      </div>      
    </div>
    <div class=" form-group ">
      <div class="row col-xs-9 col-xs-offset-3">
        <span ng-repeat = "tag in product.tags | orderBy">
          <button class = "btn btn-default btn-xs"
                  ng-click = "removeTag(tag)">{{tag}}
            <span class = "glyphicon glyphicon-remove"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-9 col-xs-offset-3">
        <span>
          <button class="btn btn-primary" ng-disabled="tagNotChanged"
            ng-click="submit(productTagsForm)">Save</button>
        </span>
        <span>
          <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </span>
      </div>
    </div>
  </filedset>
</form>

