<div ng-controller="orderListCtrl as vm">
    <div class="legend">Orders</div>
    <div class="row">
        <div class="col-lg-10">
            <div class="clearfix" style="margin-top: 10px;">
                <div class="pull-right"
                     style="font-size: 16px;font-weight: bold;margin-left: 3px;margin-top: 2px;">show detail</div>
                <div class="pull-right" rain-checkbox="vm.showDetail"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            <div class="table-responsive">
                <div rain-grid="vm.gridOptions" func-on-select="vm.onSelect(id)"></div>
            </div>
        </div>
    </div>
    <div class="row detailRainGrid" ng-hide="!(vm.selectedRow && vm.showDetail)" >
        <div class="col-lg-10">
            <div order-detail-list-dir order-id="vm.orderId"></div>
        </div>
    </div>

</div>