<div ng-controller="orderEditCtrl" class="animated fadeIn">


    <form class="form-horizontal admin-form" novalidate name="formUser" id="formUser">
        <filedset>
            <legend ng-class="{'edit-mode':isEditMode,'add-mode':!isEditMode}">{{title}}</legend>
            <div class="form-group" form-input>
                <label class="col-xs-2">Customer</label>

                <div class="col-xs-10">
                    <div class="col-xs-8">
                        <ui-select ng-model="customer.selected" theme="select2" style="min-width: 260px;">
                            <ui-select-match placeholder="Select or search by company/country...">
                                {{$select.selected.CompanyName}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="customer in customers
                                    | propsFilter: {CompanyName:$select.search,Country: $select.search}">
                                <div ng-bind-html="customer.CompanyName | highlight: $select.search"></div>
                                <small style="margin-left: 10px;">
                                    Country: {{customer.Country}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-4 inline-error-message">
                    <span class='help-block' ng-messages='formUser.username.$error'>
                        <span ng-message="required">*</span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="col-xs-5">
                        <button type="submit" class="btn btn-info"
                                ng-click="saveUser(formUser)">
                            <i class="glyphicon glyphicon-ok"></i>
                            Save
                        </button>
                        <button class="btn btn-warning" ng-click="newUser()">
                            <i class="glyphicon glyphicon-plus"></i>
                            new
                        </button>
                    </div>
                </div>
            </div>
        </filedset>
    </form>














    <div class="legend">Orders</div>

    <p>Selected: {{customer.selected}}</p>


    <h3>Select2 theme</h3>

    <p>Selected: {{country.selected}}</p>
    <ui-select ng-model="country.selected" theme="select2" ng-disabled="disabled" style="min-width: 200px;">
        <ui-select-match placeholder="Select or search by country/code...">
            {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="country in countries | propsFilter: {name: $select.search, code: $select.search}">
            <div ng-bind-html="country.name | highlight: $select.search"></div>
            <small style="margin-left: 10px;">
                Code: {{country.code}}
            </small>
        </ui-select-choices>
    </ui-select>

    <div class="form-group form-group-sm">
        <div class="col-xs-4 input-group input-group-sm">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
                   is-open="opened" min-date="minDate" max-date="'2018-06-22'" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </div>
    </div>

    <input type="text" ng-model="test" number-only="2">
</div>