<div>
    <div class="modal-header">
        <div style="display:inline-block;margin-left: 10px;font-size: 16px;font-weight: bold;">Filter</div>
    </div>
    <div style="margin:10px;padding-right: 10px;">

        <div>
            <form name="formFilter" class="form-horizontal">
                <!--<select class="form-control input-sm" ng-model="col"
                        ng-options="colDef as colDef.label for colDef in columns">
                </select>-->
                <div fieldSelect></div>
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="filter()">Filter</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>