
body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.gray-bg {
    background-color: #f3f3f4;
}

#page-wrapper {
    min-height: 900px;
    position: relative !important;
    margin: 0 0 0 220px;
    padding: 30px 20px;
}

.wizard a {
    background: #efefef;
    display: inline-block;
    margin-right: 5px;
    min-width: 120px;
    outline: none;
    padding: 10px 10px 10px;
    position: relative;
    text-decoration: none;
}

.wizard .active {
    background: #007ACC;
    color: #fff;
}

/*form {
  background-color: #A4C8E8;
  border-radius: 2px;
  box-shadow: 0 1px 1px #ccc;
  color: #404040;
  font-size: 14px;
  padding: 30px 20px;
}*/
form legend {
    border-radius: 2px;
    font-family: 'Cookie', cursive;
    font-weight: normal;
    color: #404040;
    font-size: 20px;
    line-height: 1;
}

.legend {
    font-family: 'Cookie', cursive;
    font-weight: normal;
    color: #404040;
    font-size: 26px;
    line-height: 1;
    border-image: none;
    border: 0 none -moz-use-text-color;
    border-bottom: 1px solid #1CC09F;
    margin-bottom: 4px;
}

.chart {
    width: 100%;
    height: 280px;
}

/* ui-grid style */
.gridStyle {
    border: 1px solid rgb(190, 183, 183);
    /*width: 400px; */
    height: 300px
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #E4E8E6;
}

/*-- rainGrid --*/
.rain-grid-panel{
    margin-top: 10px;
}
.rain-grid-panel .panel-heading {
    padding: 5px 15px;
    color: #fff;
    background-color: #4B7976;
    border-color: #4B7976;
    height: 35px;
}

.rain-grid-table tr th {
    cursor: pointer;
}

.rain-grid-table tr th {
    background-color: #E4E8E6;
}

.rain-grid-table tr th:hover {
    background: linear-gradient(#BCBCBC, #ffffff);
}

.rain-grid-table tr th.asc {
    background: linear-gradient(#ffffff, #89d4ab);
}

.rain-grid-table tr th.dsc {
    background: linear-gradient(#89d4ab, #ffffff);
}

.rain-grid-table .row-selected td
{
    background-color: #B9F0E3;
}
/* rainGrid pagination*/
ul.pagination {
    margin: 0;
}

ul.pagination .page-arrow{
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
    font-weight: bold;
}
.rain-page select{
    height: 24px;
    padding: 1px 5px;
}

.rain-page ul.pagination-sm a{
    padding: 3px 5px;
}
/*
.pace .pace-progress{
    width: 100%;
    background: #1ab394;
    position: fixed;
    z-index: 2000;
    top: 0px;
    height: 2px;
}
*/
.detailRainGrid.ng-hide-remove {
    -webkit-animation:fadeInDown 0.5s;
    animation:fadeInDown 0.5s;
}

.detailRainGrid.ng-hide-add {
    -webkit-animation:fadeOutUp 0.5s;
    animation:fadeOutUp 0.5s;
    display: block !important;
}

.go-backward.ng-hide-remove {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

.go-forward.ng-hide-remove {
    -webkit-animation: fadeInLeft 0.5s;
    animation: fadeInLeft 0.5s;
}
