<div ng-controller="territoryCtrl as vm">
    <div class="legend">Territories</div>
    <div class="row">
        <div class="col-lg-10 table-container">
            <div style="padding: 10px;">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                    </tr>
                    <tr ng-repeat="e in vm.list">
                        <td>{{e.TerritoryID}}</td>
                        <td>{{e.TerritoryDescription}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <div class="clearfix">
                        <div class="pull-left" style="margin-top: 5px; margin-right: 5px;">Page size:</div>
                        <div class="pull-left" style="margin-right: 20px;">
                            <select class="form-control input-sm" ng-model="vm.pageSize"
                                    ng-change="vm.pageSizeChanged()">
                                <option>5</option>
                                <option>10</option>
                                <option>20</option>
                            </select>
                        </div>
                        <div class="pull-left">
                            <pagination total-items="vm.rowCount" ng-model="vm.currentPage" max-size="vm.maxSize"
                                        class="pagination-sm" boundary-links="true" rotate="false"
                                        first-text="<<" previous-text="<" next-text=">" last-text=">>"
                                        items-per-page="vm.pageSize" ng-change="vm.pageChanged()">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>